In [2]:
print ("Prasun")

Prasun

In [5]:
age = int(input("Enter the age of EMP..!"))
print(age)
print (type(age))

76
<class 'int'>

In [ ]:
# Interger datatype
age =30
print(age)
print(type(age))

30
<class 'int'>

In [7]:
# Floter data types
height= 5.22
print(height)
print(type(height))

5.22
<class 'float'>

In [8]:
# String datatype
name="Prasun"
print(name)
print(type(name))

Prasun
<class 'str'>

In [9]:
# boolean datatype
is_emp=True
print(is_emp)
print(type(is_emp))

True
<class 'bool'>

In [10]:
ageOfPrasun=30
ageOfPiyush=30
print(ageOfPrasun==ageOfPiyush)
print(type(ageOfPrasun==ageOfPiyush))

True
<class 'bool'>

In [11]:
# common errors with string and number oprations
sms="hello"+3
print(sms)

TypeError: can only concatenate str (not "int") to str

In [14]:
# fix is :
sms = "Hello"+str(10)
print(sms)

Hello10

In [1]:
# Arithmetic opration / oprator
cr_am= 18;
dr_am=5;

print("add : ",cr_am + dr_am)
print("sub : ",cr_am - dr_am)
print("multi : ",cr_am * dr_am)
print("floor_divistion : ",cr_am // dr_am)
print("divistion : ",cr_am / dr_am)
print("power/ expontion : ",cr_am ** dr_am)
print("modulus : ",cr_am % dr_am)

add :  23
sub :  13
multi :  90
floor_divistion :  3
divistion :  3.6
power/ expontion :  1889568
modulus :  3

In [ ]:
# Comperision opration
ename="prasun"
eheight="5.50"
esal=200000000
ename1="Raja"
eheight1="5.50"
esal1=200000000

print("== with Str",ename==ename1)
print("== with float",eheight==eheight1)
print("== with number",esal==esal1)


print("!= with Str",ename!=ename1)
print("!= with float",eheight!=eheight1)
print("!= with number",esal!=esal1)

print("< with Str",ename<ename1)
print("<= with float",eheight<=eheight1)
print("< with number",esal<esal1)

print("> with Str",ename>ename1)
print("> with float",eheight>eheight1)
print(">= with number",esal>=esal1)

== with Str False
== with float True
== with number True
!= with Str True
!= with float False
!= with number False
< with Str False
<= with float True
< with number False
> with Str True
> with float False
> with number True

In [19]:
# Logical Oprators 

exeId = "476564-gtrgtgbr-6jr78r88r-nrybrhhf7"
dataCount= 0

print("OR",(exeId != "") or (dataCount >0))
print("AND",(exeId != "") and (dataCount >0))
print("NOT", not ((dataCount >0)))

OR True
AND False
NOT True